@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');


/* ANCHOR root */
:root {
    --cardTitleBlue: rgba(0, 132, 253, 1);
    --lightpurple: rgba(151, 146, 228, 1);
}

/* ANCHOR resets */
/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* IMG RESET */
img {
    width: 100%;
    display: block;
}

/* FONT RESET */
html {
    font-family: 'PT Sans', sans-serif;
}

p {
    line-height: 24px;
}

/* ANCHOR utility classes */

.container {
    padding: 3rem 2rem;
    flex-direction: column;
    gap: 20px;
    /* border: 2px dashed red; */
}

.d-flex {
    display: flex;
}

.container .card {
    flex-direction: column;
    gap: 2rem;
    border-radius: 20px;
    padding: 2rem;
}

/* ANCHOR mobile first */
/* ANCHOR begin header style */
header {
    background-color: rgba(0, 132, 253, 1);
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

header .container {
    height: 80px;
    flex-direction: row;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0;
}

header .container .menu .fa-bars {
    font-size: 160%;
}

header .container .menu .menu-list {
    display: none;
}

/* ANCHOR begin main style */

main {
    padding-top: 80px;
}

/* ANCHOR begin demo app section style */

#demo-app .container {
    margin-top: 3rem;
    padding-top: 0;
}

#demo-app .container .card {
    align-items: center;
    text-align: center;
    background-color: rgba(181, 221, 255, 1);
}

#demo-app .container .card:first-child {
    text-align: start;
    align-items: flex-start;
    padding: 2rem 2rem 0 2rem;
}

#demo-app .container .card:first-child .title-text {
    flex-direction: column;
    gap: 2rem;
}

#demo-app .card-title {
    color: var(--cardTitleBlue);
    font-size: 24px;
}

#demo-app .card-text {
    color: #5b6f81;
    line-height: 24px;
    font-weight: 700;
}

#demo-app .card-button {
    text-decoration: none;
    color: white;
    background-color: rgba(0, 132, 253, 1);
    padding: 10px 50px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 20px;
    align-self: center;
}

#demo-app .card-button i {
    padding-right: 10px;
}

#demo-app .card > i {
    font-size: 80px;
    color: var(--cardTitleBlue);
}


/* ANCHOR begin planning section style */

#planning {
    background-color: rgba(151, 146, 228, 1);
    color: white;
}

#planning .container {
    gap: 30px;
}

#planning .container .planning-img-text {
    flex-direction: column;
}

#planning .container .planning-img-text > figure {
    margin-block: 2rem;
}

#planning .container h2 {
    font-size: 36px;
}

#planning .card {
    background-color: white;
    color: black;
    align-items: center;
    border-radius: 40px;
}

#planning .card > p {
    text-align: center;
}

#planning .card i {
    color: black;
    background-color: rgba(151, 146, 228, 1);
    padding: 15px 17px;
    border-radius: 100%;
}

/* ANCHOR begin testimonials section style */

#testimonials {
    text-align: center;
}

#testimonials .container > h2 {
    font-size: 36px;
    font-weight: 700;
    color: rgba(151, 146, 228, 1);
}

#testimonials .container .card {
    color: white;
    background-color: rgba(151, 146, 228, 1);
    align-items: center;

    border-radius: 40px;
}

#testimonials .container .card figure {
    width: 90%;
    aspect-ratio: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

#testimonials .container .card p::before {
    content: ' \00275d';
    font-size: 36px;
}

#testimonials .container .card p::after {
    content: ' \00275e';
    font-size: 36px;
}

#testimonials .container .card:first-of-type figure {
    background-image: url('../img/testimonial1.jpg');
}

#testimonials .container .card:nth-of-type(2) figure {
    background-image: url('../img/testimonial2.jpg');
}

#testimonials .container .card:last-of-type figure {
    background-image: url('../img/testimonial3.jpg');
}

#testimonials .container .card .card-text {
    flex-direction: column;
    align-items: center;
    gap: 20px;
}



/* ANCHOR features section style */

#features {
    background-color: var(--lightpurple);
}

#features .container .section-title {
    color: white;
    font-size: 32px;
    text-align: center;
    margin-bottom: 2.5rem;
}

#features .container .card {
    background-color: white;
    align-items: flex-start;
}

#features .container .card > span, 
#features .container .card > h3 {
    color: var(--lightpurple);
}

#features .container .card > span {
    font-weight: 700;
    font-size: 48px;
}

#features .container .card > h3 {
    font-size: 24px;
}

#features .container .card > p {
    color: rgba(124, 124, 124, 1);
}

#features .container .card > a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: var(--lightpurple);
    padding: 0.5rem 3rem;
    border-radius: 20px;
    font-size: 18px;
}


/* ANCHOR about us section style */

#about-us .container {
    border: 2px dashed red;
    gap: 50px;
}

#about-us .container .about-us-text,
#about-us .container .about-us-testimonial {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

#about-us .container .about-us-text .section-title {
    font-size: 48px;
    color: var(--lightpurple);
}

#about-us .container .about-us-text > p {
    font-size: 20px;
    line-height: 40px;
}

#about-us .container .about-us-testimonial > p {
    font-size: 30px;
    color: var(--lightpurple);
    line-height: 42px;
    font-weight: 700;
}

#about-us .container .about-us-testimonial > figure {
    background-image: url('../img/about.jpg');
    width: 60%;
    aspect-ratio: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    position: relative;
}

#about-us .container .about-us-testimonial > figure > i {
    color: var(--lightpurple);
    font-size: 60px;
    position: absolute;
    top: 0;
    right: 0;
}

#about-us .container .about-us-testimonial > a {
    text-decoration: none;
    color: white;
    background-color: var(--lightpurple);
    padding: 7px 15px;
    border-radius: 20px;
}

#about-us .container .about-us-testimonial > a > i {
    margin-right: 5px;
}




/* ANCHOR get started section style */

#get-started {
    text-align: center;
    background-color: var(--lightpurple);
    color: white;
}

#get-started .container {
    padding: 3rem;
    align-items: center;
}

#get-started .container .little-title {
    color: rgba(205, 204, 242, 1);
}

#get-started .container h3 {
    font-size: 30px;
}

#get-started .container .big-title {
    font-weight: 700;
    font-size: 60px;
    color: rgba(253, 193, 95, 1);
}

#get-started .container > a {
    color: var(--lightpurple);
    background-color: white;
    padding: 15px 70px;
    border-radius: 30px;
    font-size: 18px;
    text-decoration: none;
    margin-block: 1.5rem;
}

#get-started .container .copyright {
    font-size: 14px;
}

#get-started .container .copyright > a {
    color: white;
}



/* ANCHOR begin footer style */
































/* ANCHOR @media tablet 810px */

@media screen and (min-width: 810px) {

    /* NOTE demo app section */
    #demo-app .container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    #demo-app .container .card {
        flex-basis: calc((100% / 3 - (40px / 3)));
    }

    #demo-app .container .card:first-child {
        flex-basis: calc(((100% / 3 - (40px / 3))) * 2 + 20px);
    }


    /* NOTE testimonials section */
    #testimonials .container .card {
        flex-direction: row;
    }

    #testimonials .container .card .card-text {
        align-items: flex-start;
        text-align: start;
    }


    /* NOTE features section */

    #features .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /* border: 2px solid red; */
    }

    #features .container h2 {
        flex-basis: 100%;
    }

    #features .container .card {
        flex-basis: calc( (100% / 2) - 10px);
    }


    /* NOTE about us section */

    #about-us .container {
        flex-direction: row;
        /* gap: 30px; */
    }

    #about-us .container .about-us-text,
    #about-us .container .about-us-testimonial {
        padding: 1rem;
    }

    #about-us .container .about-us-text {
        flex-basis: 60%;
    }

    #about-us .container .about-us-testimonial {
        flex-basis: 40%;
    }

    #about-us .container .about-us-testimonial > figure {
        width: 90%;
    }



    /* NOTE get started section */

    #get-started .container h3 {
        font-size: 40px;
    }

    #get-started .container p {
        width: 70%;
    }

    #get-started .container .little-title {
        font-size: 20px;
    }
    
    #get-started .container .big-title {
        font-weight: 700;
        font-size: 60px;
        color: rgba(253, 193, 95, 1);
    }

}




























/* ANCHOR @media desktop 1920px */

@media screen and (min-width: 1920px) {

    .container {
        width: 60%;
        margin: 0 auto;
        padding-inline: 0;
    }

    /* NOTE header */
    header .container {
        width: 60%;
        margin: 0 auto;
        padding: 1rem 0;
    }

    header .container .menu .fa-bars {
        display: none;
    }

    header .container .menu .menu-list {
        display: flex;
        gap: 20px;

        list-style-type: none;
    }

    header .container .menu .menu-list li a {
        text-decoration: none;
        color: white;
    }

    header .container .menu .menu-list li:last-child a {
        color: black;
        background-color: white;
        padding: 10px;
        border-radius: 20px;
    }

    /* NOTE demo app section */

    main {
        margin-top: 3rem;
    }

    #demo-app .container {
        width: 60%;
        margin: 0 auto;
    }

    #demo-app .container .card:first-child {
        flex-direction: row;
    }

    #demo-app .container .card:first-child .title-text {
        flex-basis: 50%;
    }

    #demo-app .container .card:first-child .title-text .card-button {
        align-self: flex-start;
    }

    #demo-app .container .card:first-child .card-img {
        flex-basis: 50%;
    }


    /* NOTE planning section */

    #planning .container {
        flex-direction: row;
        gap: 80px;
        /* border: 2px solid red; */
        align-items: flex-end;
        justify-content: center;
    }

    #planning .container .planning-img-text {
        flex-basis: 50%;
        flex-direction: column;
        gap: 30px;
    }

    /* FIXME fix card dimension and position */
    #planning .container .card {
        flex-basis: 50%;
    }


    /* NOTE testimonials section */
    #testimonials .container .card figure {
        width: 50%;
    }


    /* NOTE features section */

    #features .container {
        padding-inline: 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /* border: 2px solid red; */
    }

    #features .container > .section-title {
        flex-basis: 100%;
        font-size: 48px;
    }

    #features .container .card {
        flex-basis: calc( (100% / 3) - (40px / 3));
    }

    #features .container .card > span {
        font-size: 56px;
    }

    #features .container .card > h3 {
        font-size: 30px;
    }



    /* NOTE about us section */

    #about-us .container .about-us-text {
        flex-basis: 70%;
    }

    #about-us .container .about-us-text .section-title {
        font-size: 70px;
    }

    #about-us .container .about-us-testimonial {
        flex-basis: 30%;
    }

    #about-us .container .about-us-testimonial > figure {
        width: 80%;
    }



    /* NOTE get started section */

    #get-started .container p {
        width: 40%;
    }
}