@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');


/* ANCHOR root */
:root {
    --cardTitleBlue: rgba(0, 132, 253, 1);

}

/* ANCHOR resets */
/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* IMG RESET */
img {
    width: 100%;
    display: block;
}

/* FONT RESET */
html {
    font-family: 'PT Sans', sans-serif;
}

/* ANCHOR utility classes */

.container {
    margin: 3rem 2rem;
    flex-direction: column;
    gap: 20px;
    border: 2px dashed red;
}

.d-flex {
    display: flex;
}

.container .card {
    flex-direction: column;
    gap: 2rem;
}

/* ANCHOR mobile first */
/* ANCHOR begin header style */
header {
    background-color: rgba(0, 132, 253, 1);
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

header .container {
    height: 80px;
    flex-direction: row;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0;
}

header .container .menu .fa-bars {
    font-size: 160%;
}

header .container .menu .menu-list {
    display: none;
}

/* ANCHOR begin main style */

main {
    padding-top: 80px;
}

/* ANCHOR begin demo app section style */

#demo-app .container .card {
    align-items: center;
    text-align: center;
    background-color: rgba(181, 221, 255, 1);
    border-radius: 20px;
    padding: 2rem;
    /* border: 1px dashed red; */
}

#demo-app .container .card:first-child {
    text-align: start;
    align-items: flex-start;
    padding: 2rem 2rem 0 2rem;
}

#demo-app .container .card:first-child .title-text {
    flex-direction: column;
    gap: 2rem;
}

#demo-app .card-title {
    color: var(--cardTitleBlue);
    font-size: 24px;
}

#demo-app .card-text {
    color: #5b6f81;
    line-height: 24px;
    font-weight: 700;
}

#demo-app .card-button {
    text-decoration: none;
    color: white;
    background-color: rgba(0, 132, 253, 1);
    padding: 10px 50px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 20px;
    align-self: center;
}

#demo-app .card-button i {
    padding-right: 10px;
}

#demo-app .card > i {
    font-size: 80px;
    color: var(--cardTitleBlue);
}

/* ANCHOR begin footer style */





/* ANCHOR @media tablet 810px */

@media screen and (min-width: 810px) {

    /* NOTE demo app section */
    #demo-app .container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    #demo-app .container .card {
        flex-basis: calc((100% / 3 - (40px / 3)));
    }

    #demo-app .container .card:first-child {
        flex-basis: calc(((100% / 3 - (40px / 3))) * 2 + 20px);
    }

}





/* ANCHOR @media desktop 1920px */

@media screen and (min-width: 1920px) {

    /* NOTE header */
    header .container {
        width: 60%;
        margin: 0 auto;
    }

    header .container .menu .fa-bars {
        display: none;
    }

    header .container .menu .menu-list {
        display: flex;
        gap: 20px;

        list-style-type: none;
    }

    header .container .menu .menu-list li a {
        text-decoration: none;
        color: white;
    }

    header .container .menu .menu-list li:last-child a {
        color: black;
        background-color: white;
        padding: 10px;
        border-radius: 20px;
    }

    /* NOTE demo app section */

    main {
        margin-top: 3rem;
    }

    #demo-app .container {
        width: 60%;
        margin: 0 auto;
    }

    #demo-app .container .card:first-child {
        flex-direction: row;
    }

    #demo-app .container .card:first-child .title-text {
        flex-basis: 50%;
    }

    #demo-app .container .card:first-child .title-text .card-button {
        align-self: flex-start;
    }

    #demo-app .container .card:first-child .card-img {
        flex-basis: 50%;
    }
}